@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html,
body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  height: 100%;
  color: black;
}
._container {
  max-width: 1220px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
img {
  max-width: 100%;
  height: auto;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
/* --------------------------------HEADER------------------------------------ */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
  border-bottom: 1px solid rgb(85, 96, 90);
}
.header__container {
  max-width: 100%;
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  /* display: none; */
}
.menu__link {
  font-family: "Space Mono", monospace;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 15px;
  line-height: calc(90 / 15 * 100%);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 0 30px;
}
.menu__item .menu__link:hover {
  background: rgb(85, 96, 90);
  transition: all 1s ease-out;
}
/* ------------------------------Favoite-liked------------------------- */
.menu__link {
}
.favorite {
  position: relative;
}
.favorite__liked {
  display: block;
  background-image: url(./img/header/like/like.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 40px;
  top: 25px;
  width: 15px;
  height: 15px;
}
.favorite__count {
}
/* --------------------------------BURGER-MENU------------------------- */
.nav-mobile-menu {
  width: 30px;
  height: 30px;
  position: relative;
  display: block;
  margin: 0 auto;
}
.nav-mobile-menu span {
  height: 4px;
  background-color: rgb(95, 227, 149);
  position: absolute;
  left: 0;
  right: 0;
  transition: 0.25s ease-in-out;
}
.nav-mobile-menu span:first-child {
  top: 3px;
}
.nav-mobile-menu span:nth-child(2) {
  top: 13px;
}
.nav-mobile-menu span:last-child {
  bottom: 3px;
}
/* --------------------------------MAIN------------------------------------ */
.page {
  flex: 1 1 auto;
}
.main-block {
  position: relative;
}
.main-block__body {
  padding: 200px 0 100px 0;
  position: relative;
  z-index: 2;
}
.main-block__body > *:not(:last-child) {
  margin: 0 0 15px 0;
}
.main-block__body > :nth-child(2) {
  margin-bottom: 30px;
}
.main-block__title {
  font-family: "Bungee Outline", cursive;
  line-height: calc(45 / 45 * 100%);
  font-size: 50px;
  color: #fff;
}
.main-block__text {
  font-family: "Rubik Mono One", sans-serif;
  line-height: calc(45 / 45 * 100%);
  font-size: 50px;
  color: #fff;
}
.main-block__buttons {
  display: inline-flex;
}
.main-block__button:not(:last-child) {
  margin: 0 10px 0 0;
}
.main-block__button {
  font-family: "Space Mono", monospace;
  color: #fff;
  font-size: 16px;
  line-height: calc(50 / 16 * 100%);
  background: #000;
  padding: 5px 30px;
  text-align: center;
  min-height: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.main-block__button:hover {
  background: #fff;
  color: #000;
  transition: all 2s ease-in-out;
}
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* -------------------------------POSTCARDS------------------------------------ */
.page__postcards {
}
.postcards {
}
.postcards__container {
}
.postcards__body {
  padding: 50px 0;
}
.postcards__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.postcards__item {
  margin: 0 0 20px 0;
}
.blog-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
  max-width: 100%;
}
.blog-item > *:not(:last-child) {
  margin: 0 0 10px 0;
}
.blog-image {
  display: inline-block;
  overflow: hidden;
}
.blog-image__scale {
  display: block;
  transition: 0.5s;
}
.blog-image__scale:hover {
  transform: scale(1.1);
}

.blog-item__date {
  padding: 0 20px;
}
.blog-item__date > *:not(:last-child) {
  margin: 0 0 10px 0;
}
.blog-date {
}
.blog-date__desc::before {
  content: "";
  display: block;
  background-image: url(./img/main/postcard/clock.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 3px;
  left: 0;
}
.blog-date__desc {
  position: relative;
  padding-left: 20px;
  font-size: 13px;
  line-height: calc(19 / 13 * 100%);
  color: rgb(168, 168, 168);
}
.blog-item__title {
}
.blog-title {
}
.blog-title__link {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 20px;
  color: #000;
}
.blog-title__link:hover {
  color: rgb(95, 227, 149);
  transition: all 1s ease-in-out;
}
.blog-item-desc {
  font-size: 13px;
}
.blog-item__footer {
  padding: 5px 15px;
}
.blog-foo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(233, 231, 231);
  width: 100%;
  height: 45px;
}
.blog-foo__btn {
}
.favorite-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.noliked {
  background-image: url(./img/main/postcard/unlike-btn.png);
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}
.categorie__link {
  display: block;
  padding: 5px 10px;
  color: #fff;
  background-color: rgb(95, 227, 149);
  border-radius: 2px;
}
.categorie__link:hover {
  background: black;
  color: #fff;
  transition: all 1s ease;
}
/* -------------------------------FOOTER------------------------------------ */
.footer {
  background: #000;
}
.footer__main {
  padding: 50px 0;
}
.subscribe__column {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.subscribe__column > *:not(:last-child) {
  margin: 0 0 20px 0;
}
.subscribe__title {
  font-size: 20px;
  font-weight: 900;
  color: rgb(95, 227, 149);
}
.subscribe__text {
  color: rgb(95, 227, 149);
}
.subscribe__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe__input {
  border: 1px solid #fff;
  background: #000;
  outline: none;
  width: 250px;
  height: 40px;
  margin-bottom: 5px;
  padding: 0px 10px;
  line-height: calc(40 / 20 * 100%);
  font-size: 20px;
  color: #fff;
}
.subscribe__input:focus {
  border: 1px solid rgb(95, 227, 149);
}
.subscribe__input::placeholder {
  font-size: 12px;
  letter-spacing: 2px;
  color: #fff;
}
.subscribe__btn {
  background: transparent;
  border: 1px solid rgb(95, 227, 149);
  background: rgb(95, 227, 149);
  color: #fff;
  height: 40px;
  font-size: 16px;
  width: 250px;
  letter-spacing: 2px;
}
.subscribe__btn:hover {
  background: #fff;
  color: rgb(95, 227, 149);
}
.footer__list {
  display: flex;
  justify-content: center;
}
.footer__list > :not(:last-child) {
  margin: 0 10px 0 0;
}
.footer__link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(95, 227, 149);
  text-align: center;
}
.footer__link:hover {
  background: #000;
}
.footer__buttom {
  border-top: 1px solid rgb(85, 96, 90);
  background: #000;
}
.copyright {
  text-align: center;
  padding: 30px 0;
  font-size: 13px;
  font-weight: 500;
  line-height: calc(19 / 13 * 100%);
  color: rgb(204, 204, 204);
}
.copyright > a {
  color: rgb(95, 227, 149);
}

/* ---------------------------------Adaptiv----------------------- */
/* tablet */
@media (min-width: 768px) {
  ._container {
    max-width: 720px;
  }
  .main-block__body {
    padding: 200px 0 150px 0;
    max-width: 300px;
  }
  .main-block__title {
    line-height: calc(45 / 45 * 100%);
    font-size: 100px;
  }
  .main-block__text {
    line-height: calc(45 / 45 * 100%);
    font-size: 80px;
  }
  .subscribe__title {
    font-size: 40px;
  }
  .subscribe__text {
    font-size: 20px;
  }
  .subscribe__input {
    width: 400px;
  }
  .subscribe__btn {
    width: 400px;
  }
  .blog-item {
    flex: 1 1 50%;
    max-width: 50%;
  }
  .postcards__item {
    padding: 0 10px;
    margin: 0 0 20px 0;
  }
}

/* laptop */
@media (min-width: 992px) {
  ._container {
    max-width: 960px;
  }
  .nav-mobile-menu {
    display: none;
  }
  .main-block__body {
    padding: 250px 0 100px 0;
    max-width: 600px;
  }
  .blog-item {
    flex: 1 1 33%;
    max-width: 33%;
  }
}

/* desktop */
@media (min-width: 1200px) {
  ._container {
    max-width: 1170px;
  }
}

/* only mobile */
@media (max-width: 767px) {
}
